@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; font-size:12px; font-family:Verdana, Geneva, sans-serif,"微软雅黑";}
body{ width:980px; height:1800px;margin:0 auto;}
#warp{ width:892px; margin:0 auto; height:1763px;}
.top{ width:100%; height:60px; border-bottom:2px solid #938e8c;}
.top_left{ width:110px; height:58px; background-color:#d55d5c; border:1px solid #d55d5c; display:inline-block;}
.top_right{ width:110px; height:58px;float:right;}
.top_left p{color:#FFF; padding-left:5px;}
.top_left p,.top_right p{font-family:"黑体"; padding-top:43px;}
.top_right p{color:#d55d5c;;font-weight:bold; float:right;}


.main{ margin-top:30px; height:1600px;}
.main_top{ width:892px; height:630px;}
.main_top_left{ background:url(../image/3.jpg) no-repeat; width:641px; height:301px;display:inline-block;}
.img_left{ float:left; background-color:#75b86b;}
.img_right{float:right; background-color:#d55d5c;}
.img_left,.img_right{ width:191px; height:301px;opacity:0.6;filter:alpha(opacity=60);-moz-opacity:0.6;}
.main_top_right{width:203px; height:301px; border-top:2px solid #cc8091; float:right;}
.font1:first-letter{ font-size:24px;}
.font1{color:#000000;font-size:20px; display:block; border-bottom:2px solid #999; width:155px; margin-top:5px; margin-bottom:10px;}
.font2{ font-size:45px; line-height:45px; color:#fd4907; margin-top:30px; margin-bottom:10px; font-style:italic;}
.font3{ font-size:18px;margin-top:20px; margin-bottom:20px; }
.font4{font-size:12px;margin-top:20px; margin-bottom:20px;}

.main_top_content{ margin-top:30px; height:300px;}
.content1,.content3{ width:265px; height:285px; margin-right:10px; float:left; display:inline-block;}
.content2{width:325px;display:inline-block;float:left;margin-right:10px;height:285px;}
.content1 h1,.content2 h1,.content3 h1{ font-size:16px;  text-decoration:underline;}
.content1 h1{color:#418c59;}
.content2 h1{color:#d2994f;}
.content3 h1{color:#cc7680;}
.content1 p,.content2 p,.content3 p{ font-size:15px; font-family:'宋体'; margin-top:10px; line-height:15px;text-indent:2em;}

.main_botton{ width:892px;}
.main_botton_left{ width:440px; float:left; display:inline-block; height:300px;}
.font5{text-transform : uppercase; font-size:42px; color:#11456b;}
.font5 span{text-transform:uppercase;font-size:72px; color:#f5e327; font-style:italic;}
.font6{font-size:33px; color:#11456b;}
.font5,.font6,.font5 span{font-weight:bold; font-family:'黑体';}
.unline{ border:1px solid #11456b; }
.main_botton_text{ width:100%; height:450px;}
.main_botton_text img{ float:right; margin:10px 10px;}
.main_botton_text p{font-size:15px; font-family:'宋体'; margin-top:10px; line-height:15px;text-indent:2em;}
.main_botton_right{width:440px; float:right;}
.text_title{ margin-top:20px; width:489px; height:660px; background-color:#eeeed6;}
.text_title li{ font-size:25px; font-family:'宋体'; color:#5a5b5b; line-height:30px; list-style-type:none; margin-left:50px; margin-top:15px;}
.fu{ float:left; padding-top:30px; display:inline-block;}
.text_title p{font-size:14px; color:#5a5b5a; font-style:italic;}
.text_title p span{ font-size:72px; font-family:'黑体'; color:#d45d5c;}
.footer{ width:100%; height:100px; border-top:1px solid #838e8c; background-color:#FFF; margin-top:10px; clear:both;}

/*by 谢世鹏*/


